<div class="card bg-dark text-white my-3">
    <div class="card-header">{{ titulo }}</div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="compania.nombre" placeholder="Nombre"   maxlength="255" name="nombre" required>                
                </div>
            </div>

            <div class="form-group row">
                <label for="cif" class="col-form-label col-sm-2">CIF</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="compania.cif" name="cif">                
                </div>
            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-primary" role="button" (click)="create()" *ngIf="!compania.id">Crear</button>
                    <button class="btn btn-primary" role="button" (click)="update()" *ngIf="compania.id">Editar</button>
                    <button class="btn btn-secondary ml-2" [routerLink]="['/companias']" routerLinkActive="router-link-active"  type="button">Cancelar</button>
                </div>
            </div>
        </form>
    </div>
</div>